@media screen and (max-width: 992px) {
    .sara__navbar .sara__navbar-navLinks {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 400px;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, .1);
        padding: 80px 0 0 10px;
        transition: .35s ease;
    }

    #cart {
        display: none;
    }

    #nav.active {
        right: 0;
    }

    .sara__navbar .sara__navbar-navLinks li {
        font-size: 2rem;
        margin-bottom: 25px;
    }

    #close {
        display: flex;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 40px;
        color: #1a1a1a;
        font-size: 2rem;
    }

    .sara__navbar .toggleMenu {
        display: flex;
        align-items: center;
    }

    #bar, .sara__navbar .toggleMenu a {
        padding-left: 20px;
        color: #1a1a1a;
        font-size: 1.5rem;;
    }

    .sara__hero {
        height: 70vh;
        background-position: top 30% right 30%;
    }
    
    .sara__feature-container {
        padding: .5rem 5rem;
    }

    .sara__cta .sara__cta-banner {
        height: 20vh;
    }

    .sara__cta .sara__cta-banner h2 {
        font-size: 2rem;
    }

    .sara__featured-productBox, .sara__arrivals-productBox  {
        margin: 1.5rem;
    }

    .sara__banner {
        padding: .5rem 3.5rem;
    }

    .sara__banner .sara__banner-content1, .sara__banner .sara__banner-content2 {
        height: 35vh;
    }

    .sara__banner .sara__banner-box2 {
        width: 85vw;
    }

    .sara__banner .sara__banner-box2 .sara_banner-box2_content1, .sara__banner .sara__banner-box2 .sara_banner-box2_content2, .sara__banner .sara__banner-box2 .sara_banner-box2_content3 {
        height: 25vh;
        padding: .5rem;
        margin-bottom: 0;
    }

    .sara__banner .sara__banner-box2 .sara_banner-box2_content1 h2, .sara__banner .sara__banner-box2 .sara_banner-box2_content2 h2, .sara__banner .sara__banner-box2 .sara_banner-box2_content3 h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    .sara__newsletter-content {
        flex-direction: column;
    }

    .sara__newsletter .sara__newsletter-content .sara__newsletter-content_text h3 {
        text-align: center;
    }

    .sara__newsletter .sara__newsletter-content .sara__newsletter-content_input {
        width: 60%;
    }

    .sara__footer .sara__footer-content .sara__footer-content_col {
        margin: 0;
        margin-bottom: 2rem;
    }

    .sara__productDetails {
        padding: 1rem;
    }

    /* About Section*/

    .sara__head-containter {
        flex-direction: column; 
    }

    .sara__head-containter .sara__head-imageBox {
        width: 70%;
        margin-right: 0;
        margin-bottom: 3rem;
    }

    .sara__head-containter .sara__head-text {
        width: 100%;
    }

    .sara__about-app_container .sara__about-app_videoBox {
        width: 90%;
    }

    /* Contact Section */

    .sara__contact-mapBox_informations {
        margin-bottom: 3rem;
    }
    .sara__contact-mapBox .sara__contact-mapBox_map {
        margin-left: 0;
    }
}

@media screen and (max-width: 576px) {
    #close {
        top: 20px;
        right: 0;
    }

    .sara__navbar {
        padding: 1.25rem 2rem;
    }

    .sara__hero {
        background-position: 55%;
        padding: 0 1rem;
    }

    .sara__hero h4 {
        font-size: 1rem;
    }

    .sara__hero h2 {
        font-size: 2.5rem;
    }

    .sara__hero h1 {
        font-size: 3.8rem;
    }

    .sara__hero p {
        font-size: .8rem;
    }

    .sara__feature-container {
        justify-content: s;
        padding: .5rem;
    }

    .sara__featured, .sara__arrivals {
        padding: 1rem;
        margin-top: 2rem;
    }

    .sara__featured h2, .sara__arrivals h2 {
        font-size: 2.5rem;
    }

    .sara__featured p, .sara__arrivals p {
        font-size: 1rem;
    }

    .sara__featured .sara__featured-cointainer, .sara__arrivals .sara__arrivals-cointainer {
        margin-top: 0;
    }

    .sara__featured-productBox, .sara__arrivals-productBox {
        width: 100%;
    }

    .sara__cta {
        margin: 0;
    }

    .sara__cta .sara__cta-banner h4 {
        font-size: .7rem;
    }

    .sara__cta .sara__cta-banner h2 {
        font-size: 1rem;
    }
    
    .sara__cta .sara__cta-banner button {
      margin: 0;
      padding: .8rem;
      font-size: .8rem;
    }

    .sara__banner .sara__banner-content1, .sara__banner .sara__banner-content2 {
        min-width: 0;
    }

    .sara__banner .sara__banner-box2 {
        flex-wrap: wrap;
    }

    .sara__banner .sara__banner-box2 .sara_banner-box2_content1, .sara__banner .sara__banner-box2 .sara_banner-box2_content2, .sara__banner .sara__banner-box2 .sara_banner-box2_content3 {
        width: 100%;
    }

    .sara__newsletter {
        padding: 1rem;
    }

    .sara__newsletter .sara__newsletter-content {
        padding: 1rem;
        margin: 0;
    }   
    
    .sara__newsletter .sara__newsletter-content p {
        text-align: center;
    }

    .sara__newsletter .sara__newsletter-content .sara__newsletter-content_input {
        width: 100%;
    }

    .sara__productDetails {
        display: flex;
        flex-direction: column;
    }

    .sara__productDetails-images {
        width: 100%;
        margin-right: 0;
    }

    .sara__productDetails .sara__productDetails-content {
        width: 100%;
    }

    .sara__productDetails .sara__productDetails-content p {
        font-size: 1.05rem;
        text-align: justify;
    }

    /* Blog Section */

    .sara__blog-posts {
        padding: 100px 20px 0 20px;
    }


    .sara__blog-box {
        flex-direction: column;;
        align-items: flex-start;
    }

    .sara__blog-box .sara__blog-posts_imageBox {
        width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .sara__blog-box .sara__blog-posts_details {
        width: 100%;
        margin-bottom: 2rem;
    }

    /* About Section*/

    .sara__head {
        padding: 1rem;
    }

    .sara__head-containter .sara__head-imageBox {
        width: 100%;
        margin-bottom: 1rem;
    }
    
    .sara__head-containter .sara__head-text h2 {
        font-size: 2rem;
    }   

    .sara__about-app {
        padding: 1rem;
    }

    .sara__about-app_container h1 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .sara__about-app_container .sara__about-app_videoBox {
        width: 100%;
    }

    /* Contact Section */

    .sara__contact-visitUs {
        padding: 1rem;
    }

    .sara__contact-mapBox {
        margin-top: 2rem;
    }

    .sara__contact-mapBox_informations p, .sara__contact-mapBox_informations i {
        font-size: 1rem;
    }

    .sara__contact-mapBox_map {
        display: flex;
        justify-content: center;
        width: 50%;
    }
}