@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
}

h1 {
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
    color: #252525;
}

h2 {
    font-size: 3.5rem;
    line-height: 3.38rem;
    font-weight: 600;
    color: #252525;
}

h4 {
    font-weight: 600;
    font-size: 1.5rem;
    color: #252525;
}

h6 {
    font-size: .9rem;
    font-weight: 700;
    color: #252525;
}


p {
    font-size: 1.25rem;
    color: #465b52;
    margin: .94rem 0 1.25rem 0;
}

.normal-button {
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #1a1a1a;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    outline: none;
    border: none;
}

.section-p1 {
    padding: 2.5rem 5rem;
}

.section-m1 {
    margin: 2.5rem 0;
}

/* Navbar */

.sara__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 1.25rem 5rem;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .06);
    z-index: 999;
    /*top: 0;
    left: 0;*/
}

.sara__navbar .sara__navbar-navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sara__navbar .sara__navbar-navLinks li {
    padding: 0 1.25rem;
    margin-right: 1rem;
    position: relative;
}

.sara__navbar .sara__navbar-navLinks li:last-child {
    margin-right: 0;
}

.sara__navbar .sara__navbar-navLinks li a {
    color: #1a1a1a;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: .05rem;
    transition: .25s ease;
}

.sara__navbar .sara__navbar-navLinks li a:hover, .sara__navbar .sara__navbar-navLinks li a.active, .sara__navbar .toggleMenu a:hover {
    color: #088178;
}

.sara__navbar .sara__navbar-navLinks li a.active::after {
    content: '';
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.sara__navbar .toggleMenu, #close {
    display: none;
}

.sara__navbar .toggleMenu #bar {
    cursor: pointer;
}

/* Hero Section */

.sara__hero {
    background-image: url("./img/assets/hero4.png");
    background-position: top 25% right 0;
    background-size: cover;
    height: 90vh;
    width: 100%;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sara__hero h4 {
    padding-bottom: .94rem;
}

.sara__hero h1 {
    color: #088178
}

.sara__hero button {
    background-image: url("./img/assets/button.png");
    background-color: transparent;
    background-repeat: no-repeat;
    color: #088178;
    border: none;
    padding: 1rem 6rem 1rem 4.2rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 700;
	-webkit-animation: bounce-right 2.5s both;
	        animation: bounce-right 2.5s both;
}

@-webkit-keyframes bounce-right {
    0% {
      -webkit-transform: translateX(48px);
              transform: translateX(48px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateX(26px);
              transform: translateX(26px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateX(13px);
              transform: translateX(13px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateX(6.5px);
              transform: translateX(6.5px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateX(4px);
              transform: translateX(4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87%,
    98% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-right {
    0% {
      -webkit-transform: translateX(48px);
              transform: translateX(48px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateX(26px);
              transform: translateX(26px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateX(13px);
              transform: translateX(13px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateX(6.5px);
              transform: translateX(6.5px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateX(4px);
              transform: translateX(4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87%,
    98% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
    
/* Feature Section */

.sara__feature-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.sara__feature-container:hover > :not(:hover) { /* Target the :hover of the parent, then target all the children except the one you're hovering over.This means that the style will work with all the childrens except the one that is hovered */
    opacity: .4;
    filter: grayscale(1);
    scale: .98;
}

.sara__feature-container .sara__feature-box {
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 1rem ;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, .03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 1rem 0;
    transition: .3s ease-in-out;
}


.sara__feature-container .sara__feature-box img {
    width: 100%;
    margin-bottom: .6rem;
}

.sara__feature-container .sara__feature-box h6 {
    width: 100%;
    text-align: center;
    padding: .6rem 1rem .4rem 1rem;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

.sara__feature-container .sara__feature-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

.sara__feature-container .sara__feature-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

.sara__feature-container .sara__feature-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

.sara__feature-container .sara__feature-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

.sara__feature-container .sara__feature-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

/* Featured Products Section */

.sara__featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sara__featured .sara__featured-cointainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.8rem;
}

.sara__featured .sara__featured-cointainer:hover > :not(:hover) {
    opacity: .4;
    filter: grayscale(1);
}

.sara__featured-productBox {
    width: 23%;
    min-width: 250px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    padding: .625rem .75rem;
    margin: .8rem;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .03);
    transition: .3s ease-in-out;
}

.sara__featured-productBox:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .1);
}

.sara__featured-productBox .sara__featured-productBox_image img {
    width: 100%;
    border-radius: 20px;
}

.sara__featured-productBox_content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 1rem 0;
}

.sara__featured-productBox_content .sara__featured-content_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.sara__featured-productBox_content .sara__featured-content_text .star {
    padding-top: .2rem;
}

.sara__featured-productBox_content .sara__featured-content_text .star i {
    font-size: .75rem;
    color: rgb(243, 181, 25);
}

.sara__featured-productBox_content .sara__featured-content_text span {
    font-size: .85rem;
    color: #606063;
}

.sara__featured-productBox_content .sara__featured-content_text h5 {
    padding-top: .45rem;
    color: #1a1a1a;
    font-size: 1.2rem;
    font-weight: 500;
}

.sara__featured-productBox_content .sara__featured-content_text h4 {
    padding-top: .45rem;
    font-weight: 700;
    color: #088178;
    font-size: 1.1rem;
}

.sara__featured-productBox_content a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8f6ea;
    border: 1px solid #cce7d0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.sara__featured-productBox_content a i {
    font-size: 1.1rem;
    color: #088178;
}

/* CTA Section */

.sara__cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sara__cta .sara__cta-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40vh;
    background-image: url("./img/banner/b2.jpg");
    background-size: cover;
    background-position: center;
}

.sara__cta .sara__cta-banner h4 {
    font-size: 1.1rem;
    color: #fff;
}

.sara__cta .sara__cta-banner h2 {
    margin-top: 1rem;
    color: #fff;
    font-size: 2.5rem;
}

.sara__cta .sara__cta-banner span {
    color: #ef3636;
}

.sara__cta .sara__cta-banner button {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
}

.sara__cta .sara__cta-banner button:hover {
    background: #088178;
    color: #fff;
}

@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-1px, 1px);
              transform: translate(-1px, 1px);
    }
    40% {
      -webkit-transform: translate(-1px, -1px);
              transform: translate(-1px, -1px);
    }
    60% {
      -webkit-transform: translate(1px, 1px);
              transform: translate(1px, 1px);
    }
    80% {
      -webkit-transform: translate(1px, -1px);
              transform: translate(1px, -1px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    10% {
      -webkit-transform: translate(-1px, 1px);
              transform: translate(-1px, 1px);
    }
    40% {
      -webkit-transform: translate(-1px, -1px);
              transform: translate(-1px, -1px);
    }
    60% {
      -webkit-transform: translate(1px, 1px);
              transform: translate(1px, 1px);
    }
    80% {
      -webkit-transform: translate(1px, -1px);
              transform: translate(1px, -1px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }

/* New Arrivals Section */  

.sara__arrivals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sara__arrivals .sara__arrivals-cointainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.8rem;
}

.sara__arrivals .sara__arrivals-cointainer:hover > :not(:hover) {
    opacity: .4;
    filter: grayscale(1);
}

.sara__arrivals-productBox {
    width: 23%;
    min-width: 250px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    padding: .625rem .75rem;
    margin: .8rem;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .03);
    transition: .3s ease-in-out;
}

.sara__arrivals-productBox:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .1);
}

.sara__arrivals-productBox .sara__arrivals-productBox_image img {
    width: 100%;
    border-radius: 20px;
}

.sara__arrivals-productBox_content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 1rem 0;
}

.sara__arrivals-productBox_content .sara__arrivals-content_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.sara__arrivals-productBox_content .sara__arrivals-content_text .star {
    padding-top: .2rem;
}

.sara__arrivals-productBox_content .sara__arrivals-content_text .star i {
    font-size: .75rem;
    color: rgb(243, 181, 25);
}

.sara__arrivals-productBox_content .sara__arrivals-content_text span {
    font-size: .85rem;
    color: #606063;
}

.sara__arrivals-productBox_content .sara__arrivals-content_text h5 {
    padding-top: .45rem;
    color: #1a1a1a;
    font-size: 1.2rem;
    font-weight: 500;
}

.sara__arrivals-productBox_content .sara__arrivals-content_text h4 {
    padding-top: .45rem;
    font-weight: 700;
    color: #088178;
    font-size: 1.1rem;
}

.sara__arrivals-productBox_content a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8f6ea;
    border: 1px solid #cce7d0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.sara__arrivals-productBox_content a i {
    font-size: 1.1rem;
    color: #088178;
}

/* Banners Section */

.sara__banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.sara__banner .sara__banner-content1, .sara__banner .sara__banner-content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    min-width: 650px;
    height: 50vh;
}

.sara__banner .sara__banner-content1 button, .sara__banner .sara__banner-content2 button {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    width: 180px;
    transition: .3s ease;
}

.sara__banner .sara__banner-content1 button:hover, .sara__banner .sara__banner-content2 button:hover {
    color: #fff;
    background-color: #088178;
    border: 2px solid #088178;
}

.sara__banner .sara__banner-content1 {
    background-image: url(./img/banner/b17.jpg);
}

.sara__banner .sara__banner-content2 {
    background-image: url(./img/banner/b10.jpg);
}

.sara__banner .sara__banner-box2 {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.sara__banner .sara__banner-box2 .sara_banner-box2_content1, .sara__banner .sara__banner-box2 .sara_banner-box2_content2, .sara__banner .sara__banner-box2 .sara_banner-box2_content3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    min-width: 30%;
    height: 30vh;   
}

.sara__banner .sara__banner-box2 .sara_banner-box2_content1 {
    background-image: url(./img/banner/b7.jpg);
}

.sara__banner .sara__banner-box2 .sara_banner-box2_content2 {
    background-image: url(./img/banner/b4.jpg);
}

.sara__banner .sara__banner-box2 .sara_banner-box2_content3 {
    background-image: url(./img/banner/b18.jpg);
}

.sara__banner .sara__banner-box2 .sara_banner-box2_content1 h2, .sara__banner .sara__banner-box2 .sara_banner-box2_content2 h2 ,.sara__banner .sara__banner-box2 .sara_banner-box2_content3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
}

.sara__banner .sara__banner-box2 .sara_banner-box2_content1 h3, .sara__banner .sara__banner-box2 .sara_banner-box2_content2 h3 ,.sara__banner .sara__banner-box2 .sara_banner-box2_content3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 1rem;
}


/* Newsletter Section */

.sara__newsletter {
    background-image: url(./img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

.sara__newsletter .sara__newsletter-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.25rem 0;
}

.sara__newsletter .sara__newsletter-content .sara__newsletter-content_text h3 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
}

.sara__newsletter .sara__newsletter-content .sara__newsletter-content_text p {
    font-size: 1.1rem;
    font-weight: 600;
    color: #cce7d0;
}

.sara__newsletter .sara__newsletter-content .sara__newsletter-content_text span {
    color: #ffbd27;
}

.sara__newsletter .sara__newsletter-content .sara__newsletter-content_input {
    display: flex;
    width: 40%;
}

.sara__newsletter .sara__newsletter-content .sara__newsletter-content_input input {
    color: #606063;
    font-size: 1.1rem;
    outline: none;
    padding: 0 1.25rem;
    height: 3.125rem;
    width: 100%;
}

.sara__newsletter .sara__newsletter-content .sara__newsletter-content_input button {
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 30%;
    color: #fff;
    background-color: #088178;
    font-size: 1rem;
    font-weight: 600;
}

/* Footer Section */

.sara__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sara__footer .sara__footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.25rem;
}

.sara__footer .sara__footer-content .sara__footer-content_col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.25rem;
    margin-right: 9.8rem;
}

.sara__footer .sara__footer-content .sara__footer-content_col:nth-child(4) {
    margin-right: 0;
}

.sara__footer .sara__footer-content .sara__footer-content_col .sara__footer-content_col-logo, .sara__footer .sara__footer-content .sara__footer-content_col h4 {
    margin-bottom: 1.6rem;
}

.sara__footer .sara__footer-content .sara__footer-content_col h4 {
    font-size: 1.2rem;
}

.sara__footer .sara__footer-content .sara__footer-content_col p {
    font-size: 1.1rem;
}

.sara__footer .sara__footer-content .sara__footer-content_col a {
    color: #222;
    margin-bottom: .5rem;
    font-size: 1rem;
    transition: 3.s ease;
}

.sara__footer .sara__footer-content .sara__footer-content_col p {
    margin: 0;
    margin-bottom: .5rem;
}

.sara__footer .sara__footer-content .sara__footer-content_col .sara__footer-content_followIcons {
    margin-top: 1.2rem;
}

.sara__footer .sara__footer-content .sara__footer-content_col .sara__footer-content_followIcons i {
    cursor: pointer;
    padding-right: .25rem;
    color: #465b52;
    transition: .3s ease;
}

.sara__footer .sara__footer-content .sara__footer-content_col .sara__footer-content_followIcons i:hover, .sara__footer .sara__footer-content .sara__footer-content_col a:hover {
    color: #088178;
}

.sara__footer .sara__footer-content .sara__footer-content_col .sara__footer-content_followIcons h4{
    margin-bottom: .5rem;
}

.sara__footer .sara__footer-content .sara__footer-content_col .sara__footer-content-stores {
    margin: 1.2rem 0;
}

.sara__footer .sara__footer-content .sara__footer-content_col .sara__footer-content-stores img {
    cursor: pointer;
    border: 1px solid #088178;
    border-radius: 6px;
}

.sara__footer .sara__footer-copy p a {
    color: #088178;
}

/* Media Query */

@media screen and (max-width: 992px) {
    .sara__navbar .sara__navbar-navLinks {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 400px;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, .1);
        padding: 80px 0 0 10px;
        transition: .35s ease;
    }

    #cart {
        display: none;
    }

    #nav.active {
        right: 0;
    }

    .sara__navbar .sara__navbar-navLinks li {
        font-size: 2rem;
        margin-bottom: 25px;
    }

    #close {
        display: flex;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 40px;
        color: #1a1a1a;
        font-size: 2rem;
    }

    .sara__navbar .toggleMenu {
        display: flex;
        align-items: center;
    }

    #bar, .sara__navbar .toggleMenu a {
        padding-left: 20px;
        color: #1a1a1a;
        font-size: 1.5rem;;
    }

    .sara__hero {
        height: 70vh;
        background-position: top 30% right 30%;
    }
    
    .sara__feature-container {
        padding: .5rem 5rem;
    }

    .sara__cta .sara__cta-banner {
        height: 20vh;
    }

    .sara__cta .sara__cta-banner h2 {
        font-size: 2rem;
    }

    .sara__featured-productBox, .sara__arrivals-productBox  {
        margin: 1.5rem;
    }

    .sara__banner {
        padding: .5rem 3.5rem;
    }

    .sara__banner .sara__banner-content1, .sara__banner .sara__banner-content2 {
        height: 35vh;
    }

    .sara__banner .sara__banner-box2 {
        width: 85vw;
    }

    .sara__banner .sara__banner-box2 .sara_banner-box2_content1, .sara__banner .sara__banner-box2 .sara_banner-box2_content2, .sara__banner .sara__banner-box2 .sara_banner-box2_content3 {
        height: 25vh;
        padding: .5rem;
        margin-bottom: 0;
    }

    .sara__banner .sara__banner-box2 .sara_banner-box2_content1 h2, .sara__banner .sara__banner-box2 .sara_banner-box2_content2 h2, .sara__banner .sara__banner-box2 .sara_banner-box2_content3 h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    .sara__newsletter-content {
        flex-direction: column;
    }

    .sara__newsletter .sara__newsletter-content .sara__newsletter-content_text h3 {
        text-align: center;
    }

    .sara__newsletter .sara__newsletter-content .sara__newsletter-content_input {
        width: 60%;
    }

    .sara__footer .sara__footer-content .sara__footer-content_col {
        margin: 0;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 576px) {
    #close {
        top: 20px;
        right: 0;
    }

    .sara__navbar {
        padding: 1.25rem 2rem;
    }

    .sara__hero {
        background-position: 55%;
        padding: 0 1rem;
    }

    .sara__hero h4 {
        font-size: 1rem;
    }

    .sara__hero h2 {
        font-size: 2.5rem;
    }

    .sara__hero h1 {
        font-size: 3.8rem;
    }

    .sara__hero p {
        font-size: .8rem;
    }

    .sara__feature-container {
        justify-content: s;
        padding: .5rem;
    }

    .sara__featured, .sara__arrivals {
        padding: 1rem;
        margin-top: 2rem;
    }

    .sara__featured h2, .sara__arrivals h2 {
        font-size: 2.5rem;
    }

    .sara__featured p, .sara__arrivals p {
        font-size: 1rem;
    }

    .sara__featured .sara__featured-cointainer, .sara__arrivals .sara__arrivals-cointainer {
        margin-top: 0;
    }

    .sara__featured-productBox, .sara__arrivals-productBox {
        width: 100%;
    }

    .sara__cta {
        margin: 0;
    }

    .sara__cta .sara__cta-banner h4 {
        font-size: .7rem;
    }

    .sara__cta .sara__cta-banner h2 {
        font-size: 1rem;
    }
    
    .sara__cta .sara__cta-banner button {
      margin: 0;
      padding: .8rem;
      font-size: .8rem;
    }

    .sara__banner .sara__banner-content1, .sara__banner .sara__banner-content2 {
        min-width: 0;
    }

    .sara__banner .sara__banner-box2 {
        flex-wrap: wrap;
    }

    .sara__banner .sara__banner-box2 .sara_banner-box2_content1, .sara__banner .sara__banner-box2 .sara_banner-box2_content2, .sara__banner .sara__banner-box2 .sara_banner-box2_content3 {
        width: 100%;
    }

    .sara__newsletter {
        padding: 1rem;
    }

    .sara__newsletter .sara__newsletter-content {
        padding: 1rem;
        margin: 0;
    }   
    
    .sara__newsletter .sara__newsletter-content p {
        text-align: center;
    }

    .sara__newsletter .sara__newsletter-content .sara__newsletter-content_input {
        width: 100%;
    }

}